# SyriaTel Churn

## Overview
For this project I evaluated a dataset of 20 attributes and 3333 rows containing SyraTel's churn metrics. I outline my process of identifying the top indicators of churn and creating machine learning model to predict whether or not a client will soon churn. I was able to create several machine learning classification models and compare their performance on unseen data to decide on a final predictive model that SyriaTel could deploy on their current client database. My final models utilized `sklearns` Decision Tree Classifier and the Gradient Boost.

## Business Understanding

SyriaTel is a national telecommunications company interested in reducing churn by identifying which clients will ‘soon’ stop doing business with their company. In the telecom industry, it costs [5 times](https://towardsdatascience.com/customer-churn-in-telecom-segment-5e49356f39e5) as much to acquire new business than it does to maintain existing clients. To determine what a good churn rate for a telecom company is, I have compared the telecom churn with the churn rates from four of the [top telecom companies](https://www.investopedia.com/articles/markets/030216/worlds-top-10-telecommunications-companies.asp) in the United States, AT&T, Verizon, T-Mobile, and Noppio, as well as comparing the SyriaTel churn against the [industry average](https://www.statista.com/statistics/816735/customer-churn-rate-by-industry-us/).

## Method

This objective will be achieved by first assessing feature importance on the below attributes and determining which tend to be the strongest predictors of churn. I will then apply these attributes to several classification machine learning models to classify at risk clients presently and in the future. The final step will ultimately be the launch of a final program on existing clients.

#### Treating Type Errors
In dealing with type errors moving forward, type 2 errors pose the highest threat to SyriaTel’s company. Ideally, we will find a balance between the two type errors, but if that is not attainable, we are better off reducing type 2 errors despite the fact that it will lead to a subsequent increase in type 1 errors. In this case, a false positive (assuming a client will churn when they will not) is preferrable to a false negative (assuming that a client will not churn when they actually will).

### Cleaning and Preprocessing
Start by importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# import data and display head
df = pd.read_csv('data/telecom_data')

display(df.head())
display(df.describe())
display(df.columns)
display(pd.isna(df).sum())

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

1) Attributes are not on the same scale, this may be a problem for models like K Nearest Neighbors, I can fix this by utilizing a StandardScaler or a MinMaxScaler.

2) There are no missing values.

3) My column names have spaces instead of '_' which may make it more difficult to call back to them later.

4) A few of my columns look like they may have a dtype object. I can check this by using the dtypes method.

In [3]:
# replace whitespace in column names with _
dwb_col = df.columns.str.replace('\s+', '_') 

# change old column names to new column names without whitespace
df.columns = dwb_col

# double check changes
df.columns

Index(['state', 'account_length', 'area_code', 'phone_number',
       'international_plan', 'voice_mail_plan', 'number_vmail_messages',
       'total_day_minutes', 'total_day_calls', 'total_day_charge',
       'total_eve_minutes', 'total_eve_calls', 'total_eve_charge',
       'total_night_minutes', 'total_night_calls', 'total_night_charge',
       'total_intl_minutes', 'total_intl_calls', 'total_intl_charge',
       'customer_service_calls', 'churn'],
      dtype='object')

In [4]:
df.dtypes

state                      object
account_length              int64
area_code                   int64
phone_number               object
international_plan         object
voice_mail_plan            object
number_vmail_messages       int64
total_day_minutes         float64
total_day_calls             int64
total_day_charge          float64
total_eve_minutes         float64
total_eve_calls             int64
total_eve_charge          float64
total_night_minutes       float64
total_night_calls           int64
total_night_charge        float64
total_intl_minutes        float64
total_intl_calls            int64
total_intl_charge         float64
customer_service_calls      int64
churn                        bool
dtype: object

In [5]:
# find out what attributes have the highest correlation with churn
corr_matrix = df.corr()
corr_matrix['churn'].sort_values(ascending=False)

churn                     1.000000
customer_service_calls    0.208750
total_day_minutes         0.205151
total_day_charge          0.205151
total_eve_minutes         0.092796
total_eve_charge          0.092786
total_intl_charge         0.068259
total_intl_minutes        0.068239
total_night_charge        0.035496
total_night_minutes       0.035493
total_day_calls           0.018459
account_length            0.016541
total_eve_calls           0.009233
area_code                 0.006174
total_night_calls         0.006141
total_intl_calls         -0.052844
number_vmail_messages    -0.089728
Name: churn, dtype: float64

In [6]:
df['churn'].value_counts()

False    2850
True      483
Name: churn, dtype: int64

There appears to be some class imbalance in our target variable. This could lead to the minority class, churned clients, not being properly represented in the model. I may want to address this using SMOTE to ensure that the minority class is well accounted for.

In [7]:
# phone numbers are private information and they may not have a large impact on the model
df = df.drop(columns='phone_number')

In [8]:
df.to_csv("./data.csv")

In [9]:
df2 = df
df2.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,churn
0,KS,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [10]:
# create a column for total call spend
df2['total_spend'] = df.total_day_charge + df.total_eve_charge + df.total_night_charge + df.total_intl_charge
df2['total_spend']

0       75.56
1       59.24
2       62.29
3       66.80
4       52.09
        ...
3328    60.10
3329    63.53
3330    67.74
3331    57.53
3332    77.01
Name: total_spend, Length: 3333, dtype: float64

In [11]:
# find out what attributes have the highest correlation with churn
corr_matrix = df2.corr()
corr_matrix['churn'].sort_values(ascending=False)

churn                     1.000000
total_spend               0.231549
customer_service_calls    0.208750
total_day_minutes         0.205151
total_day_charge          0.205151
total_eve_minutes         0.092796
total_eve_charge          0.092786
total_intl_charge         0.068259
total_intl_minutes        0.068239
total_night_charge        0.035496
total_night_minutes       0.035493
total_day_calls           0.018459
account_length            0.016541
total_eve_calls           0.009233
area_code                 0.006174
total_night_calls         0.006141
total_intl_calls         -0.052844
number_vmail_messages    -0.089728
Name: churn, dtype: float64

In [12]:
churn_rate = round(sum(df.churn) / len(df.churn) * 100, 2)

print('Churn Rate: {0}%'.format(churn_rate))

Churn Rate: 14.49%

### Data

If this sample is representative of the population of SyriaTel clients, churn is down to 14.5%, 6.5% below the average churn for most telecommunication companies. Comparatively, our top competitors and the top performers in the industry have churns at and below 1%. SyriaTel has a long way to go before they come close to the top earners. The number one cause of churn in the telecom industry is customer service issues. By identifying the early indicators of customer dissatisfaction and addressing them boldly to achieve utmost customer satisfaction. 

Using a Pearson's correlation, I was able to identify that the following features had the biggest impact on churn.
* `customer_service_calls` - the number of calls a client made to the customer service line
* `total_spend` - how much a client was charges for all phone call categories (international, evening, night, and day)
* `total_day_charge` - charges for day calls

The pearson correlation coefficient only measures linear correlations, it may completely miss out on nonlinear relationships. The churn values may seem low, but I will evaluate the feature importance with visuals as well.